<section id="header">
    <div class="fluid-container">
      <nav style="padding: 10px;" class="navbar navbar-expand-lg navbar-light fixed-top" >
        <button  class="navbar-toggler navbar-light bg-warning" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" 
        (click)="toggleCollapsed()">
          <span  class="navbar-toggler-icon "></span>
        </button>
      <div id="navbarNavAltMarkup" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" class="collapse navbar-collapse">
        <ul data-aos="fade-right" data-aos-duration="2000"  data-aos-easing="linear" class="navbar-nav  mx-auto ">
          <li class="nav-item ">
            <a class="nav-link text-warning active" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link text-warning" href="#featuring">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" href="#menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" href="#reserve">Reservation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" href="#Chef"> The Chefs</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link text-warning" href="#services">Services</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link text-warning" href="#review">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" href="#contact">Contact Us</a>
          </li>
  
        </ul>
      </div>
    </nav>
  
  <div class="jumbotron text-center">
    <div class="intro">
      <a href="#">
        <button data-aos="fade-left" data-aos-duration="2000"  data-aos-easing="linear" class="logo">M</button>
    </a>
    <h1 data-aos="fade-right" data-aos-duration="2000"  data-aos-easing="linear" >Welcome to <span class="color-change">MEAL</span></h1>
   <a href="#reserve"><button data-aos="fade-left" data-aos-duration="2000"  data-aos-easing="linear"  type="button" class="btn btn-outline-light reserve">Reserve a Table</button></a> 
    </div>
  
  </div>
  </div>
  </section>
  