
<div class="socialfeed fluid-container" id="about">
    <div class="row">
        <div class="col-md-12 heading">
            <h3 data-aos="fade-left" data-aos-duration="2000"  data-aos-easing="linear">The Restaurant</h3>
            <p data-aos="fade-right" data-aos-duration="2000"  data-aos-easing="linear">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repudiandae modi necessitatibus maxime commodi facilis Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci suscipit corrupti ipsa quasi excepturi, similique velit cupiditate accusantium? Debitis, perferendis.
    <br><br>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, consequuntur 
     
            </p>    
        </div>
    
    <div class="container">
         <div data-aos="fade-left" data-aos-duration="2000"  data-aos-easing="linear" class="col-md-12" class="img-container">
            <img  src="https://delicaciesofindia.weebly.com/uploads/3/2/2/0/32201275/header_images/1406466884.jpg" alt="FOOD">
        </div>
    </div>
    </div>
    </div>
    
    