img{
    
    max-width: 100%;
    height: auto;
    

    
}
.img-container{
    display: block;
    text-align: center;
}

.socialfeed{
    min-height: 100vh;
    overflow-x: hidden;
       
}
.container img{
    margin-top: 40px;
    padding-bottom: 20px ;
}
.heading{
    padding: 30px;
    margin-top: 20px;
        background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0, 0, 0, 0.7)), url('https://image.freepik.com/free-vector/vector-illustration-culinary-banner-barbecue-background-with-grilled-meat-sausages-vegetables-sauces_1441-463.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
        
        
}
.heading h3{
    color: white;
    text-align: center;
}
.heading p{
    color: white;
    text-align: center;
}
@media only screen and (max-width: 780px){
    h3{
        font-size: 1rem;
    }
    p{
        font-size: 0.8rem;
    }
    
}