.foodfeature{
    min-height: 100vh;
    overflow-x: hidden;
}

.heading{
    padding: 40px;
    margin-top: 20px;
        background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0, 0, 0, 0.7)), url('https://image.freepik.com/free-vector/vector-illustration-culinary-banner-barbecue-background-with-grilled-meat-sausages-vegetables-sauces_1441-463.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
        
        
}
.feature-heading{
    text-align: center;
    color: white;
}
.feature-data{
    text-align: center;
    color: white;
}
.grid-part{
    margin-top: 50px;
    margin-bottom: 200px;
}
img{
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 50px;
}
@media only screen and (max-width: 780px){
  h3{
      font-size: 1rem;
  }
  p{
      font-size: 0.8rem;
  }
  img{
      width: 70%;
      
  }
}