<div id="featuring"class="foodfeature fluid-container">
    <div class="row">
        <div class="col-md-12 heading">
            <h3 data-aos="fade-left" data-aos-duration="2000"  data-aos-easing="linear" class="feature-heading ">
                Find your best food
            </h3>
            <p data-aos="fade-right" data-aos-duration="2000"  data-aos-easing="linear" class="feature-data">welcome to website template for Restaurant</p>
        </div>
    </div>
    <div class="container">
        <div class="row grid-part">
        <div class="col-md-4">
            <img class="d-block mx-auto"data-aos="flip-down" data-aos-duration="1000"  data-aos-easing="linear" src="https://data.tibettravel.org/assets/images/Tibet-bhutan-tour/indian-food-in-Lhasa.jpg" alt="food1">
            
        </div>
        <div data-aos="fade-right" data-aos-duration="2000"  data-aos-easing="linear" class="col-md-4 text-center">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, nemo.
                <br><br>
                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, doloremque.</p>
            
        </div>
        <div class="col-md-4">
            <img class="d-block mx-auto"data-aos="flip-down" data-aos-duration="1000"  data-aos-easing="linear" src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/slideshows/best_and_worst_indian_dishes_for_your_health_slideshow/1800x1200_best_and_worst_indian_dishes_for_your_health_slideshow.jpg" alt="food2">
            
        </div>
        <div  class="col-md-4 text-center">
            <p data-aos="fade-left" data-aos-duration="2000"  data-aos-easing="linear">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, nemo.
                <br><br>
                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, doloremque.</p>
        </div>
        <div data-aos="fade-left" class="col-md-4">
            <img class="d-block mx-auto" data-aos="flip-down" data-aos-duration="1000"  data-aos-easing="linear" src="https://img.huffingtonpost.com/asset/593aef321d00001400cc21fb.jpg?ops=scalefit_720_noupscale" alt="food3">
            
        </div>
        <div  class="col-md-4 text-center">
            <p data-aos="fade-right" data-aos-duration="2000"  data-aos-easing="linear">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, nemo.
                <br><br>
                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, doloremque.</p>
        </div>
    </div>
    </div>
    </div>