<div class="chefs" id="Chef">
    <div class="fluid-container">
    <div class="row">
        <div class="col-12 heading">
            <h3 data-aos="fade-left" data-aos-duration="2000"  data-aos-easing="linear" class="text-center text-light">Meet The Chefs</h3>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row text-center">
     
            <div class="col-md-6 col-12">
         
             
                <img data-aos="fade-left" data-aos-duration="2000"  data-aos-easing="linear" src="https://s01.sgp1.digitaloceanspaces.com/large/829037-51562-zusmerfpwm-1487226427.jpg" alt="chef pic">
                <h4 data-aos="fade-right" data-aos-duration="2000"  data-aos-easing="linear">Rajesh Kumar</h4>
                <h5 data-aos="fade-left" data-aos-duration="2000"  data-aos-easing="linear">MASTER CHEF</h5>
                <p data-aos="fade-right" data-aos-duration="2000"  data-aos-easing="linear">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum soluta repellat fugiat quis rerum! Nulla porro dolore obcaecati aut velit?</p>
        </div>
        <div class="col-md-6 col-12">
         
             
            <img data-aos="fade-right" data-aos-duration="2000"  data-aos-easing="linear" src="https://im.rediff.com/getahead/2016/mar/09womanchef04.jpg" alt="chef pic">
            <h4 data-aos="fade-left" data-aos-duration="2000"  data-aos-easing="linear">Neeta Singh</h4>
            <h5 data-aos="fade-right" data-aos-duration="2000"  data-aos-easing="linear">MASTER CHEF</h5>
            <p data-aos="fade-left" data-aos-duration="2000"  data-aos-easing="linear">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum soluta repellat fugiat quis rerum! Nulla porro dolore obcaecati aut velit?</p>
    </div>
     </div>
     
    </div>
    </div>
    
    

