<div class="reviews" id="review">
    <div class="fluid-container">
        <div class="heading text-center text-light">
            <h3 data-aos="fade-left" data-aos-duration="2000"  data-aos-easing="linear">Customer Reviews</h3>
            <p data-aos="fade-right" data-aos-duration="2000"  data-aos-easing="linear">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, veritatis.</p>
        </div>
    </div>
    
    <div class="container my-custom-container ">
    
        <div id="carouselExampleCaptions" class="carousel slide my-auto" data-ride="carousel" data-aos="fade-left" data-aos-duration="2000"  data-aos-easing="linear">
    
            <div class="carousel-inner">
              <div class="carousel-item active">
    
                    <div class="content text-center">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, provident temporibus. Porro deserunt ducimus, tempore ipsum ea alias accusantium magni reiciendis obcaecati temporibus nemo velit. Facere labore voluptatum enim, maiores placeat id voluptate blanditiis qui magni, ullam dolor, repellendus tenetur.
                            <br>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit dolor veritatis vero neque deserunt. Nobis dicta odit quam dolore maxime.
                        </p>
                    </div>
                    <div class="content-image text text-center">
                        <img src="https://img.freepik.com/free-photo/cheerful-indian-guy-recommending-new-product-service_1262-14146.jpg?size=626&ext=jpg" alt="review1-pic">
                        <h4>Jayesh Soni</h4>
                    </div>
              </div>
              <div class="carousel-item">
    
                <div class="content text-center">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, provident temporibus. Porro deserunt ducimus, tempore ipsum ea alias accusantium magni reiciendis obcaecati temporibus nemo velit. Facere labore voluptatum enim, maiores placeat id voluptate blanditiis qui magni, ullam dolor, repellendus tenetur.
                        <br>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit dolor veritatis vero neque deserunt. Nobis dicta odit quam dolore maxime.
                    </p>
                </div>
                <div class="content-image text text-center">
                    <img src="https://i.pinimg.com/originals/c0/8e/a1/c08ea199ab270e631b90f02ba75a289f.jpg" alt="review2-pic">
                    <h4>Sania Rajput</h4>
                </div>
              </div>
              <div class="carousel-item">
    
                <div class="content text-center">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, provident temporibus. Porro deserunt ducimus, tempore ipsum ea alias accusantium magni reiciendis obcaecati temporibus nemo velit. Facere labore voluptatum enim, maiores placeat id voluptate blanditiis qui magni, ullam dolor, repellendus tenetur.
                        <br>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit dolor veritatis vero neque deserunt. Nobis dicta odit quam dolore maxime.
                    </p>
                </div>
                <div class="content-image text text-center">
                    <img src="https://thumbs.dreamstime.com/b/indian-man-young-good-looking-people-smiling-standing-isolated-white-background-31400054.jpg" alt="review3-pic">
                    <h4>Rajeev Sharma</h4>
                </div>
              </div>
            </div>
            <br><br>
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active bg-dark"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1" class="bg-dark"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2" class="bg-dark"></li>
              </ol>
          </div>
    </div>
    </div>